html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#main {
  background-color: rgb(254, 255, 199);
}

#title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  padding: 35px 0;
  padding-bottom: 50px;
  color: rgb(172, 172, 39);
}

.title-small {
  font-size: 50px;
}

#stopwatch {
  height: 100vh;
  background-color: rgb(254, 255, 199);
}

#timer-container {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#timer-image {
  background-image: url('stopwatch_img.png');
}

#timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  padding-left: 30px;
  border-radius: 5px;
  color: rgb(255, 88, 88);
  background-color: rgba(175, 175, 175, 0.534);
}

.colons {
  font-size: 35px;
}

#msecs {
  font-size: 30px;
  text-align: center;
  width: 35px;
  margin-left: 5px;
  margin-right: 15px;
}

#button-container {
  position: fixed;
  bottom: 7vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reset-button {
  width: 75%;
  text-align: center;
  padding: 25px 0;
  border-radius: 5px;
  background-color: rgb(255, 56, 56);
  font-size: 30px;
  margin-bottom: 10px;
}

#start-button {
  width: 75%;
  text-align: center;
  padding: 25px 0;
  border-radius: 5px;
  background-color: rgb(255, 56, 56);
  font-size: 30px;
}

@media screen and (min-width: 770px) {
  html,
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

  #main {
    background-color: rgb(254, 255, 199);
  }

  #title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding: 75px 0;
    color: rgb(172, 172, 39);
  }

  .title-small {
    font-size: 50px;
  }

  #stopwatch {
    height: 100vh;
    background-color: rgb(254, 255, 199);
  }

  #timer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-size: 100px;
  }

  #timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
    padding-left: 30px;
    border-radius: 5px;
    color: rgb(255, 88, 88);
    background-color: rgba(175, 175, 175, 0.534);
  }

  .colons {
    font-size: 70px;
  }

  #msecs {
    font-size: 30px;
    text-align: center;
    width: 35px;
    margin-left: 5px;
    margin-right: 15px;
  }

  #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* font-weight: bold;
    font-family: 'Courier New', Courier, monospace; */
    /* background-color: red; */
  }

  #start-button {
    width: 70%;
    /* height: 100px; */
    text-align: center;
    padding: 25px 0;
    border-radius: 5px;
    background-color: rgb(255, 56, 56);
    font-size: 50px;
  }
}
